:root {
    --primary-green: #495E57; 
    --primary-yellow: #FACE14;
    --secondary-peach: #EE9972;
    --secondary-beige: #FBDABB;
    --hightlight-grey: #EDEFEE;
    --highlight-black: #333333;
    --border-radius: 16px;
  }
  
  h2{
    font-family: 'Markazi Text', 'Times New Roman', Times, serif;
    color: var(--highlight-black);
    font-size: 30pt;
    
}

.dish-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.dish-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-peach);
}

.dish-description {
    font-size: 1.2rem;
}

.delivery {
    font-weight: bold;
    font-size: 1.2rem;
}

button {
    background-color: var(--primary-yellow);
    font-family: 'Karla', 'Times New Roman', Times, serif;
    height: 50px;
    width: 200px;
    border-radius: 16px;
    border-style: none;
    font-size: 15pt;
    font-weight: bold;
  }